
.header, .main {
	margin: 2em;
}

.dropzone {
	border: 1px solid #dfdfdf;
	border-radius: 2px;
}

@media screen and (min-width: 800px) {
	.header, .main {
		max-width: 760px;
		margin: 2em auto;
	}
}

/*
.main-upload, .main-search, .main-shot {
	padding: 2em;
}

.shot-preview {
	width: 300px;
}

.shot-preview-image {
	width: 100%;
}

.shot-preview-text {
	font-size: 1rem;
}

.shot-preview-url {
	width: 100%;
}

.dropzone {
	width: 100%;
	box-sizing: border-box;
	border: 2px solid #bfbabe;
	border-radius: 8px;
	background-color: #fef9f7;
}

.dropzone .dz-preview {
	background-color: transparent !important;
}

@media screen and (min-width: 700px) {
	.main-upload, .main-search {
		float: left;
		width: 50%;
		box-sizing: border-box;
	}
}
*/
