
.main-upload {
	padding: 2em;
}

.main-search {
	padding: 2em;
}

.dropzone {
	width: 100%;
	box-sizing: border-box;
	border: 2px solid #bfbabe;
	border-radius: 8px;
	background-color: #fef9f7;
}

.dropzone .dz-preview {
	background-color: transparent !important;
}

@media screen and (min-width: 700px) {
	.main-upload, .main-search {
		float: left;
		width: 50%;
		box-sizing: border-box;
	}
}
