<!DOCTYPE html>
html lang="zh-cn"
	head
		title - AnimeShot / 截图吐槽 for everyone
		link rel="stylesheet" media="all" href="/css/kube.css"
		link rel="stylesheet" media="all" href="/css/dropzone.css"
		link rel="stylesheet" media="all" href="/css/main.css"
		script src="/js/dropzone.js"
		script src="/js/domtastic.js"
		script src="/js/fetch.js"
		script src="/js/form-serialize.js"
		script src="/js/main.js"
	body
		blocks cols="2" class="header"
			div class="header-title"
				h1
					a href="/" - AnimeShot
		blocks cols="2" class="main"
			div class="main-search"
				form action="/search" class="forms"
					section
						label for="search-field" - 搜索图片文字
						input type="search" name="q" id="search-field" value
					section
						button type="submit" - 出击吧，搜索君！
			div class="main-upload"
				form action="/api/files" method="post" enctype="multipart/form-data" class="dropzone forms" id="upload-dropzone"
					div class="fallback"
						section
							label for="upload-field" - 上传图片
							input type="file" name="file" id="upload-field"
						section
							button type="submit" - 为人民服务！
				div class="upload-shot" id="upload-shot"
		blocks cols="2" class="main"
			for(shot in data.shots)
				div class="main-preview"
					a href="shots/${shot.sid}" class="preview-image"
						img src="/upload/${shot.sid}.300.jpg" alt="300px"
					blockquote class="preview-quote"
						p - ${shot.text}
						cite
							a href="shots/${shot.sid}" - 链接