<!DOCTYPE html>
html lang="zh-cn"
	head
		include('${data.meta}')
		title - AnimeShot / 截图吐槽 for everyone
		link rel="stylesheet" media="all" href="/css/kube.css"
		link rel="stylesheet" media="all" href="/css/dropzone.css"
		link rel="stylesheet" media="all" href="/css/main.css"
		script src="/js/dropzone.js"
		script src="/js/domtastic.js"
		script src="/js/fetch.js"
		script src="/js/form-serialize.js"
		script src="/js/main.js"
		include('${data.analytics}')
	body
		include('${data.header}')
		blocks cols="2" class="main"
			include('${data.searchBox}')
			div class="main-upload"
				form action="/api/files" method="post" enctype="multipart/form-data" class="dropzone forms" id="upload-dropzone"
					div class="fallback"
						section
							label for="upload-field" - 上传图片
							input type="file" name="file" id="upload-field"
						section
							button type="submit" - 为人民服务！
				div class="upload-shot" id="upload-shot"
		blocks cols="2" class="main"
			for(shot in data.shots)
				div class="main-preview"
					a href="shots/${shot.sid}" class="preview-image"
						img src="/upload/${shot.sid}.300.jpg" alt="300px"
					blockquote class="preview-quote"
						p - ${shot.text}
						cite
							a href="shots/${shot.sid}" - 链接
			div
				p
					a href="/recent" class="btn" - 更多近期上传