<!DOCTYPE html>
html lang="zh-cn"
	head
		title - 测试页面
		link rel="stylesheet" media="all" href="css/normalize.css"
		link rel="stylesheet" media="all" href="css/dropzone.css"
		link rel="stylesheet" media="all" href="css/main.css"
		script src="js/dropzone.js"
	body
		div class="main-upload"
			form action="api/files" class="dropzone"
				div class="fallback"
					input name="file" type="file" multiple
		div class="main-search"
			form action="api/search"
				div class="search-box"
					input name="search" type="search" value