<!DOCTYPE html>
html lang="zh-cn"
	head
		include('${data.meta}')
		title - AnimeShot / 近期上传
		link rel="stylesheet" media="all" href="/css/kube.css?${data.rev}"
		link rel="stylesheet" media="all" href="/css/main.css?${data.rev}"
		include('${data.analytics}')
	body
		include('${data.header}')
		blocks cols="2" class="main"
			include('${data.searchBox}')
		blocks cols="2" class="main"
			for(shot in data.shots)
				div class="main-preview"
					a href="/shots/${shot.sid}" class="preview-image"
						img src="/upload/${shot.sid}.300.jpg" alt="300px"
					blockquote class="preview-quote"
						p - ${shot.text}
						cite
							a href="shots/${shot.sid}" - 图片页面
							-  
							a rel="nofollow" href="https://whatanime.ga/?url=${data.domain}/upload/${shot.sid}.600.jpg" - 查找出处
		include('${data.paging}', data)