<!DOCTYPE html>
html lang="zh-cn"
	head
		include('${data.meta}')
		title - AnimeShot / ${data.text}
		link rel="stylesheet" media="all" href="/css/kube.css?${data.rev}"
		link rel="stylesheet" media="all" href="/css/main.css?${data.rev}"
		meta name="twitter:card" content="summary_large_image"
		meta name="twitter:site" content="@bitinn"
		meta name="twitter:title" content="${data.text}"
		meta name="twitter:description" content="AnimeShot / 高质的吐槽向的「动画字幕截图」"
		meta name="twitter:image" content="${data.domain}/upload/${data.sid}.1200.jpg"
		include('${data.analytics}')
	body
		include('${data.header}')
		blocks cols="2" class="main"
			include('${data.searchBox}')
		blocks cols="2" class="main"
			div
				h2 - 文字内容
				p
					- ${data.text} - 
					a rel="nofollow" href="https://whatanime.ga/?url=${data.domain}/upload/${data.sid}.600.jpg" - 查找出处
		blocks cols="2" class="main"
			for(size in data.size)
				div class="main-preview"
					a href="/upload/${data.sid}.${size}.jpg" class="preview-image"
						img src="/upload/${data.sid}.${size}.jpg" alt="${size}px"
				div class="main-preview"
					p class="bold" - ${size}px
					a href="${data.domain}/upload/${data.sid}.${size}.jpg" class="smaller" - ${data.domain}/upload/${data.sid}.${size}.jpg